.container-teatac {
  .img img{width: 100%;}
  .header{
    padding: 12px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
    .l-img,.r-img{display: inline-block;vertical-align: bottom;}
    .l-img img{width: 160px;}
    .r-img img{width: 24px;margin-top: 6px;}
  }
  .section1 {
    background: url("../../images/index/screen_1_pc_img_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    @media screen and (max-width: 767px){
      background: url("../../images/index/screen_1_m_img_bg.jpg") 50% 50% no-repeat;
      background-size: cover;
    }
    .section1-logo {
      position: absolute;
      margin-left: 20px;
      bottom: 5%;
      width: 100%;
      img {
        width: 20%;
        max-width: 420px;
        min-width: 200px;
      }
    }

    .section1-navigation {
      position: absolute;
      bottom: 10px;
      right: 5%;
      .list-navigation {
        text-align: right;
      }
      .item {
        display: inline-block;
        width: 36px;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        margin-left: 10px;
        float: right;
      }
      .item a {
        padding: 12px 9px;display: inline-block;
        color: #fff;
      }
      .p-beian {
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }
}