$upload-base-color : #a4a4a4;
.liuxian-page-searchMate{
	.b-searchZone{
		position:relative;
		
		.form-group{margin:0 auto;border-radius:5px; background-color:rgba(255,255,255,0.8); padding: 8px 20px; width:80%; min-width:300px; color:#616161;}
		.i-search{font-size: 16px;display: inline-block;vertical-align: middle;}
		.s-search{display: inline-block;vertical-align:middle; width: 80%; min-width:200px; text-align: center; background-color:transparent; box-shadow:none;border:0; color:#616161;}
	}
	
}