.liuxian-page-teacher{

	.b-searchBar{
		margin-top: 20px;margin-bottom:20px;
		.form-group{margin:0 auto;border-radius:5px; background-color:rgba(150,150,150,0.3); padding: 7px 20px; width:80%; min-width:300px; color:#616161; text-align:center;}
		.i-search{font-size: 16px;display: inline-block;vertical-align: middle;}
		.s-search{display: inline-block;vertical-align:middle; width: 80%; min-width:200px; text-align: center; background-color:transparent; box-shadow:none;border:0; color:#616161;}
	}
	
}

.liuxian-page-teacherInfo{
	.h-title{
		background-color: #f3f3f3;
    	margin-top: 10px;
    	margin-bottom: 20px;
    	padding: 10px 20px;
    	font-size: 16px;
	}
	.b-myimage{
		position:relative;margin-bottom:20px;
		.b-thumbnail{position:absolute;left:50%;margin-left:-60px; bottom:-20px; width:120px;height:120px; border:2px solid #fff;overflow:hidden;}
		.b-thumbnail img{max-width:100%;}
	}

	.b-two-columns{
		.s-key{text-align:right;padding-right:20px;}
	}
}