$upload-base-color : #a4a4a4;
.liuxian-page-uploadProject{

	.fakeRadio {
		line-height:34px;
		.fakeRadioBtn{margin-right:5px;}
	}

	.b-releaseContent{padding: 0 30px;margin-top:20px; border-top:1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;}
	.topbar{
		padding: 10px 0;border-bottom:1px solid #dcdcdc;
		.p-title{width: 50%;border:0;line-height:30px;}
		.p-title:focus{border:0;}
		.btn-category{
			float:right;display:inline-block; padding:5px 20px;border-radius:15px; border:1px solid #dcdcdc; color:#616161; 
			&:hover{text-decoration:none;}
		}

	}
	
	.p-textarea{width:100%; border:0;padding:20px 0; resize:none; color:$upload-base-color;box-shadow:none;}
	.p-words{color: $upload-base-color; padding-bottom:10px;}

	.b-action{
		padding:20px 30px;
		.l-phone{color:$upload-base-color; font-size:24px; }
		.l-phone-camera{margin-right:15px;}
	}
	#uploaded_media{
		text-align: center;margin-bottom:20px;
		.video{max-width: 100%;}
		.img{max-width:30%;}
	}

	.b-launch{
		text-align: center;padding-bottom:50%;
		.btn-launch{ display: inline-block;color: #fff;padding: 10px 80px;border-radius: 30px;font-size: 20px;}
	}

	.modal{background-color: rgba(0, 0, 0, 0.5);display:none;}
	.modal-dialog{    max-height: 480px; overflow: scroll;}
	.modal-content{
		padding-top:40px;padding-bottom:40px;margin-top:60px;
		li{margin-bottom:10px;}
		.c-title{color: #cdcdcd; font-size:16px; margin-bottom:20px;}
		.selectable{display:inline-block;}
		.dot{display:inline-block;width:10px;height:10px;vertical-align:middle;background-color:#cdcdcd;margin-right:5px;border-radius:50%;}
		.text{display:inline-block;vertical-align:middle;}

		.item{display:inline-block;padding:5px 20px;border-radius:15px;margin-right:10px;border:1px solid #cdcdcd;color: #616162; margin-bottom:10px;}
	}
	
}